*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Calculadora{
    display: block;
}

#display{
    width: auto;
}

button{
    display: block;
    width: 40px;
    height: auto;
    
}